<template>
  <div id="app">
    <input v-model="distance" placeholder="modifiez-moi"/>
    <select v-model="selected">
      <option v-for="option in liste" :key="option.text" :value="option.value">
        {{ option.text}}
      </option>
    </select>
    {{result}}
  </div>
</template>

<script>
export default {
  name: 'DistanceC',
  data: function(){
      return {
        distance: 10000,
        selected:'k',
        liste: [
            { text: "Kilometre", value: 'k' },
            { text: 'Metre', value: 'm' },
            { text: 'Centimetre', value: 'c'},
            { text: 'Millimetre', value: 'mm' },
        ]
     }
    },
  computed: {
    result: function () {
        /*if(this.selected == 'k') {
            return (this.distance/1000 +" km");
        } else if(this.selected == 'm') {
          return (this.distance*1 +" m");
        }  else if(this.selected == 'c') {
          return (this.distance*100 +" cm");
        } else {
          return (this.distance*1000 +" mm");
        }*/
        switch (this.selected) {
            case 'k':
                return (this.distance/1000 +" km");
            case "m":
                return (this.distance*1 +" m");
            case "cm":
                return (this.distance*100 +" cm");
            default:
              return (this.distance*1000 +" mm");

        }
     },
    /*toCm: function () {
        return (this.distance*100 +" cm")
    },
    toMm: function () {
        return (this.distance*1000 +" mm")
    },
    toM: function () {
        return (this.distance*1 +" m")
    },
    toKm: function () {
        return (this.distance/1000 +" km")
    }*/
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
