<template>
  <div id="app">
    <input v-model="distance" placeholder="modifiez-moi"/>
    <select v-model="selected">
      <option v-for="option in liste" :key="option.text" :value="option.value">
        {{ option.text}}
      </option>
    </select>
    {{result}}
  </div>
</template>

<script>
export default {
  name: 'DistanceW',
  data: function(){
      return {
        distance: 10000,
        result: 0,
        selected:'k',
        liste: [
            { text: "Kilometre", value: 'k' },
            { text: 'Metre', value: 'm' },
            { text: 'Centimetre', value: 'c'},
            { text: 'Millimetre', value: 'mm' },
        ]
     }
  },
  watch: {
    selected: function () {
      switch (this.selected) {
        case 'k':
            this.result = (this.distance/1000 +" km");
            break;
        case "m":
            this.result = (this.distance*1 +" m");
            break;
        case "cm":
            this.result = (this.distance*100 +" cm");
            break;
        default:
           this.result = (this.distance*1000 +" mm");
            break;
        }
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
