<template>
  <div id="app">
    <select v-model="operator">
      <option v-for="option in liste" :key="option.text">
        {{ option.text | capitalize }}
      </option>
    </select>
  </div>
</template>


<script>
export default {
  name: 'Liste',
  data : function(){
    return {
      liste: [
        { text: "tout miniscule" },
        { text: 'mix MAJ min' },
        { text: 'Je TeNtE dEs TrUcS' },
      ]
      }
    },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      return value.toUpperCase()
  }
}

}
</script>


