<template>
  <div id="app">
    <Liste/>
    <DistanceC/>
    <DistanceW/>
    <inscription/>
  </div>
</template>

<script>
import Liste from './components/liste.vue'
import DistanceC from './components/DistanceComputed.vue'
import DistanceW from './components/DistanceWatcher.vue'
import Inscription from './components/inscription.vue'

export default {
  name: 'App',
  components: {
    Liste,
    DistanceC,
    DistanceW,
    Inscription
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
